.icon-logo {
  mask: url("@/assets/logo.svg") 0 / cover no-repeat;
  display: inline-block;
}

.icon-copy {
  mask: url("@/assets/icons/copy.svg") 0 / cover no-repeat;
  display: inline-block;
}

.icon-user {
  mask: url("@/assets/icons/user.svg") 0 / cover no-repeat;
  display: inline-block;
}

.icon-lock {
  mask: url("@/assets/icons/lock.svg") 0 / cover no-repeat;
  display: inline-block;
}

.icon-cross {
  mask: url("@/assets/icons/cross.svg") 0 / cover no-repeat;
  display: inline-block;
}

.icon-plus {
  mask: url("@/assets/icons/plus.svg") 0 / cover no-repeat;
  display: inline-block;
}

.icon-minus {
  mask: url("@/assets/icons/minus.svg") 0 / cover no-repeat;
  display: inline-block;
}

.icon-info {
  mask: url("@/assets/icons/info.svg") 0 / cover no-repeat;
  display: inline-block;
}

.icon-check {
  mask: url("@/assets/icons/check.svg") 0 / cover no-repeat;
  display: inline-block;
}

.icon-health {
  mask: url("@/assets/icons/health.svg") 0 / cover no-repeat;
  display: inline-block;
}

.icon-power {
  mask: url("@/assets/icons/power.svg") 0 / cover no-repeat;
  display: inline-block;
}

.icon-magic {
  mask: url("@/assets/icons/magic.svg") 0 / cover no-repeat;
  display: inline-block;
}

.icon-intelligence {
  mask: url("@/assets/icons/intelligence.svg") 0 / cover no-repeat;
  display: inline-block;
}

.icon-luck {
  mask: url("@/assets/icons/luck.svg") 0 / cover no-repeat;
  background: $black;
  display: inline-block;
}

.icon-arrow-first {
  mask: url("@/assets/icons/arrows/arrow-first.svg") 0 / cover no-repeat;
  display: inline-block;
}

.icon-settings {
  mask: url("@/assets/icons/settings.svg") 0 / cover no-repeat;
  display: inline-block;
}

.icon-loading {
  mask: url("@/assets/icons/loading.svg") 0 / cover no-repeat;
  display: inline-block;
}

.icon-crosshair {
  mask: url("@/assets/icons/crosshair.svg") 0 / cover no-repeat;
  display: inline-block;
}
