$black: #18191f;
$black-800: #474a57;
$black-700: #969bab;
$black-300: #9fa4b4;
$black-200: #eeeff4;
$black-100: #f4f5f7;

$white: #fff;

$blue: #1947e5;
$blue-800: #8094ff;
$blue-100: #e9e7fc;

$pink: #ff89bb;
$pink-800: #ffc7de;
$pink-200: #fff3f8;

$yellow: #ffbd12;
$yellow-800: #ffd465;
$yellow-100: #fff4cc;

$green: #00c6ae;
$green-success: #4CAF50;
$green-800: #61e4c5;
$green-100: #d6fcf7;

$red: #f95a2c;
$red-800: #ff9692;
$red-100: #ffe8e8;

@mixin h-1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 36px;
  font-weight: 800;
  line-height: 40px;

  @media (max-width: 468px) {
    font-size: 26px;
  }
}

@mixin h-4 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  font-feature-settings:
    "pnum" on,
    "lnum" on;
}

@mixin text-1 {
  font-family: "Montserrat", sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

@mixin text-2 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

//@mixin title-2 {
//  font-family: "Montserrat", sans-serif;
//  font-style: normal;
//  font-weight: 600;
//  font-size: 32px;
//  line-height: 120%;
//  font-feature-settings: "pnum" on, "lnum" on;
//
//  @media (max-width: 576px) {
//    font-size: 26px;
//  }
//}

//@mixin title-3 {
//  font-family: "Montserrat", sans-serif;
//  font-style: normal;
//  font-weight: 600;
//  font-size: 24px;
//  line-height: 120%;
//  font-feature-settings: "pnum" on, "lnum" on;
//
//  @media (max-width: 576px) {
//    font-size: 20px;
//  }
//}
//
//@mixin body-1 {
//  font-family: "Montserrat", sans-serif;
//  font-style: normal;
//  font-weight: normal;
//  font-size: 16px;
//  line-height: 140%;
//  font-feature-settings: "pnum" on, "lnum" on;
//
//  @media (max-width: 576px) {
//    font-size: 14px;
//  }
//}
//
//@mixin body-1-bold {
//  font-family: "Montserrat", sans-serif;
//  font-style: normal;
//  font-weight: 600;
//  font-size: 16px;
//  line-height: 140%;
//  font-feature-settings: "pnum" on, "lnum" on;
//
//  @media (max-width: 576px) {
//    font-size: 14px;
//  }
//}
//
//@mixin text-2 {
//  font-family: "Montserrat", sans-serif;
//  font-style: normal;
//  font-weight: normal;
//  font-size: 14px;
//  line-height: 140%;
//  font-feature-settings: "pnum" on, "lnum" on;
//
//  @media (max-width: 576px) {
//    font-size: 12px;
//  }
//}
//
//@mixin text-2-bold {
//  font-family: "Montserrat", sans-serif;
//  font-style: normal;
//  font-weight: 600;
//  font-size: 14px;
//  line-height: 140%;
//  font-feature-settings: "pnum" on, "lnum" on;
//
//  @media (max-width: 576px) {
//    font-size: 12px;
//  }
//}
//
//@mixin caption-1 {
//  font-family: "Montserrat", sans-serif;
//  font-style: normal;
//  font-weight: normal;
//  font-size: 12px;
//  line-height: 140%;
//  font-feature-settings: "pnum" on, "lnum" on;
//
//  @media (max-width: 576px) {
//    font-size: 10px;
//  }
//}
//
//@mixin caption-1-bold {
//  font-family: "Montserrat", sans-serif;
//  font-style: normal;
//  font-weight: 500;
//  font-size: 12px;
//  line-height: 140%;
//  font-feature-settings: "pnum" on, "lnum" on;
//
//  @media (max-width: 576px) {
//    font-size: 10px;
//  }
//}
