$black: #18191F;
$black-800: #474A57;
$black-700: #969BAB;
$black-300: #9FA4B4;
$black-200: #EEEFF4;
$black-100: #F4F5F7;

$white: #FFF;

$blue: #1947E5;
$blue-800: #8094FF;
$blue-100: #E9E7FC;

$pink: #FF89BB;
$pink-800: #FFC7DE;
$pink-200: #FFF3F8;

$yellow: #FFBD12;
$yellow-800: #FFD465;
$yellow-100: #FFF4CC;

$green: #00C6AE;
$green-800: #61E4C5;
$green-100: #D6FCF7;

$red: #F95A2C;
$red-800: #FF9692;
$red-100: #FFE8E8;


@mixin h-1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 36px;
  font-weight: 800;
  line-height: 40px;
}

@mixin h-4 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  font-feature-settings: "pnum" on, "lnum" on;
}


@mixin text-1 {
  font-family: "Montserrat", sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

@mixin text-2 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}


//@mixin title-2 {
//  font-family: "Montserrat", sans-serif;
//  font-style: normal;
//  font-weight: 600;
//  font-size: 32px;
//  line-height: 120%;
//  font-feature-settings: "pnum" on, "lnum" on;
//
//  @media (max-width: 576px) {
//    font-size: 26px;
//  }
//}

//@mixin title-3 {
//  font-family: "Montserrat", sans-serif;
//  font-style: normal;
//  font-weight: 600;
//  font-size: 24px;
//  line-height: 120%;
//  font-feature-settings: "pnum" on, "lnum" on;
//
//  @media (max-width: 576px) {
//    font-size: 20px;
//  }
//}
//
//@mixin body-1 {
//  font-family: "Montserrat", sans-serif;
//  font-style: normal;
//  font-weight: normal;
//  font-size: 16px;
//  line-height: 140%;
//  font-feature-settings: "pnum" on, "lnum" on;
//
//  @media (max-width: 576px) {
//    font-size: 14px;
//  }
//}
//
//@mixin body-1-bold {
//  font-family: "Montserrat", sans-serif;
//  font-style: normal;
//  font-weight: 600;
//  font-size: 16px;
//  line-height: 140%;
//  font-feature-settings: "pnum" on, "lnum" on;
//
//  @media (max-width: 576px) {
//    font-size: 14px;
//  }
//}
//
//@mixin text-2 {
//  font-family: "Montserrat", sans-serif;
//  font-style: normal;
//  font-weight: normal;
//  font-size: 14px;
//  line-height: 140%;
//  font-feature-settings: "pnum" on, "lnum" on;
//
//  @media (max-width: 576px) {
//    font-size: 12px;
//  }
//}
//
//@mixin text-2-bold {
//  font-family: "Montserrat", sans-serif;
//  font-style: normal;
//  font-weight: 600;
//  font-size: 14px;
//  line-height: 140%;
//  font-feature-settings: "pnum" on, "lnum" on;
//
//  @media (max-width: 576px) {
//    font-size: 12px;
//  }
//}
//
//@mixin caption-1 {
//  font-family: "Montserrat", sans-serif;
//  font-style: normal;
//  font-weight: normal;
//  font-size: 12px;
//  line-height: 140%;
//  font-feature-settings: "pnum" on, "lnum" on;
//
//  @media (max-width: 576px) {
//    font-size: 10px;
//  }
//}
//
//@mixin caption-1-bold {
//  font-family: "Montserrat", sans-serif;
//  font-style: normal;
//  font-weight: 500;
//  font-size: 12px;
//  line-height: 140%;
//  font-feature-settings: "pnum" on, "lnum" on;
//
//  @media (max-width: 576px) {
//    font-size: 10px;
//  }
//}
