$gold-main: #ffda7a;
$gold-secondary: #ffe5a2;
$gold-third: #ffc46c;
$gold-dark: #f8cb57;
$gold-gradient-1: linear-gradient(
  104.1deg,
  #ffdc83 2.05%,
  #ffc149 34.05%,
  #ffdf6d 50.06%,
  #ffcc49 66.35%,
  #ffc93d 98.08%
);
$gold-gradient-2: linear-gradient(
  273.4deg,
  #d9914e 0%,
  #ebbb59 11.14%,
  #fdfdb7 41.61%,
  #e9b861 94.25%,
  #d78537 117.48%
);
$gold-gradient-3: linear-gradient(
  271.46deg,
  #d88c47 0%,
  #ffe588 51.56%,
  #ffefb8 100%,
  #ffe7a8 100%
);

$money-pv: #f4943b;
$money-cv: #5baf54;

$red: #eb5757;
$blue: #2f80ed;
$green: #219653;
$green-second: #399953;
$green-dark: #3e8d60;
$success-primary: #67c23a;

$danger-stroke: #fbc4c4;
$danger-primary: #f56c6c;

$light-primary: #ffffff;
$light-second: #f8f8f8;
$light-third: #f3f3f3;
$light-fourth: #ececec;
$light-fifth: #e9e9e9;
$light-sixth: #bdbdbd;

$dark-absolute: #000000;
$dark-ultra: #171717;
$dark-primary: #212121;
$dark-second: #2f2f2f;
$dark-third: #474747;
$dark-fourth: #5c5c5c;
$dark-fifth: #666666;
$dark-sixth: #969696;

$service-taxi: #fff0c7;
$service-food: #eeecfa;
$service-fuel: #eefad1;
$service-car: #e1f7ff;
$service-gifteryLight: #ffebf1;
$service-gifteryDark: #daa8b8;
$service-onlineLight: #fff9dd;
$service-onlineDark: #e0d592;
$service-offlineLight: #e1f2f1;
$service-offlineDark: #8dc1bd;
$service-marketLight: #fdf0e8;
$service-marketDark: #dcb194;

$shadow-default: 0 0 20px rgba(0, 0, 0, 0.1);

$link-blue: #2f80ed;
$blue-light: #b3d8ff;

$purple-primary: #9073b5;

@mixin title-1 {
  font-family: "Cormorant SC", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 92%;
  letter-spacing: -0.04em;
  font-feature-settings: "pnum" on, "lnum" on;

  @media (max-width: 576px) {
    font-size: 60px;
  }
}

@mixin title-2 {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  font-feature-settings: "pnum" on, "lnum" on;

  @media (max-width: 576px) {
    font-size: 26px;
  }
}

@mixin title-3 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  font-feature-settings: "pnum" on, "lnum" on;

  @media (max-width: 576px) {
    font-size: 20px;
  }
}

@mixin text-1 {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 140%;
  font-feature-settings: "pnum" on, "lnum" on;

  @media (max-width: 576px) {
    font-size: 18px;
  }
}

@mixin body-1 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  font-feature-settings: "pnum" on, "lnum" on;

  @media (max-width: 576px) {
    font-size: 14px;
  }
}

@mixin body-1-bold {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  font-feature-settings: "pnum" on, "lnum" on;

  @media (max-width: 576px) {
    font-size: 14px;
  }
}

@mixin text-2 {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  font-feature-settings: "pnum" on, "lnum" on;

  @media (max-width: 576px) {
    font-size: 12px;
  }
}

@mixin text-2-bold {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  font-feature-settings: "pnum" on, "lnum" on;

  @media (max-width: 576px) {
    font-size: 12px;
  }
}

@mixin caption-1 {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 140%;
  font-feature-settings: "pnum" on, "lnum" on;

  @media (max-width: 576px) {
    font-size: 10px;
  }
}

@mixin caption-1-bold {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  font-feature-settings: "pnum" on, "lnum" on;

  @media (max-width: 576px) {
    font-size: 10px;
  }
}
