@import "./_icons.scss";
@import "./normalize.scss";


*,
:before,
:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

#app {
  height: 100%;
}

button,
input,
textarea {
  font-family: "Montserrat", sans-serif;
}

.main-input {
  width: 100%;
  height: 36px;
  border: 1px solid black;
  padding: 8px;
  border-radius: 8px;
}

.main-button {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 15px;
  outline: none;
  border: none;
  border-radius: 4px;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  background-color: #1a73e8;
  position: relative;
  overflow: hidden;
  vertical-align: top;
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
  z-index: 1;


  > span {
    position: absolute;
    background: #fff;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    pointer-events: none;
    animation: btn_ripples 0.6s linear infinite;
  }

  &:hover {
    box-shadow: 0 1px 2px 0 rgb(26 115 232 / 45%),
    0 1px 3px 1px rgb(26 115 232 / 30%);
    background-color: #297be6;
  }

  &:active {
    box-shadow: 0 1px 2px 0 rgb(26 115 232 / 45%),
    0 2px 6px 2px rgb(26 115 232 / 30%);
    background-color: #1a73e8 !important;
  }

  &:focus-visible {
    box-shadow: 0 0 0 3px lightskyblue;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.65;
  }

  &_green {
    background: #5baf54;

    &:hover {
      box-shadow: 0 1px 2px 0 rgba(26, 232, 129, 0.45),
      0 1px 3px 1px rgba(56, 154, 71, 0.3);
      background-color: #0c793b;
    }

    &:active {
      box-shadow: 0 1px 2px 0 rgba(39, 105, 50, 0.45),
      0 2px 6px 2px rgba(14, 136, 108, 0.3);
      background-color: #5bf131 !important;
    }
  }

}
@keyframes main-button_ripples {
  0% {
    width: 0;
    height: 0;
    opacity: 0.5;
  }
  100% {
    width: 1000px;
    height: 1000px;
    opacity: 0;
  }
}
